# Este archivo .htaccess hace lo siguiente:
# 1. Activa el motor de reescritura (RewriteEngine On).
# 2. Verifica si el archivo solicitado no existe (RewriteCond %{REQUEST_FILENAME} !-f).
# 3. Verifica si el directorio solicitado no existe (RewriteCond %{REQUEST_FILENAME} !-d).
# 4. Redirige todas las solicitudes a index.php, pasando la URL solicitada como un parámetro (index.php?url=$1).

# No permitir listar directorios en el navegador
Options All -Indexes

# Reglas de reescritura 
<IfModule mod_rewrite.c>    
    RewriteEngine On

    # Manejar solicitudes de archivos PHP en app/views
    # 1. Atajo rápido para URLs simples
    RewriteRule ^([a-zA-Z0-9_-]+)$ App/Views/$1.php [L]

    # 2. Con condiciones para evitar conflictos con archivos y directorios existentes
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{DOCUMENT_ROOT}/App/Views/$1.php -f
    RewriteRule ^([^/]+)/?$ App/Views/$1.php [L]

    # Agrega a cod_verif una variable GET oculta en la reescritura 
    RewriteRule ^verificar/([0-9]+)$ App/Views/cod_verif.php?id=$1&from_rewrite=1 [L,QSA]

    # Evitar acceder a cod_verif.php con letras en el parámetro id 
    RewriteCond %{QUERY_STRING} !(^|&)id=[0-9]+(&|$) [NC]
    RewriteRule ^App/Views/cod_verif.php?id=$1$ index.php [L]

    # Si no es un archivo o directorio existente, redirige a index.php
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

    # regla 404 personalizada:
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* error404.php [L]

</IfModule> 

#### Seguridad:
# Página 404 personalizada
<Files "error404.php">
    ErrorDocument 404 /error404.php
</Files>

# NO accedan en el navegador
<Files ".htaccess">
    Require all denied
</Files>

# Bloquea el acceso vía HTTP
<FilesMatch "\.(env|log|sql)$">
    Require all denied
</FilesMatch>

<FilesMatch "^(policia|cabeceras|conexion|def_ruta)\.php$">
    Require all denied
</FilesMatch>